<b:style src="./view.css"/>
<b:define name="inited" type="bool"/>

<div class="TemplaterPage TemplaterPage_{inited}">
  <!--{filelist}-->
  <div class="TemplaterPage-Content">
    <!--{resourceEditor}-->
    <!--{editor}-->
  </div>
  <div class="TemplaterPage-Splash">
    <span>Select a file in the sidebar to see its content.</span>
  </div>    
</div>
