
  <b:resource src="fileListItem.css"/>

  <div class="FileListItem FileListItem_{modified} FileListItem_{selected}" event-click="select">
    <div class="FileListItem-Filename">{filename}</div>
    <div class="FileListItem-Path">{path}</div>
  </div>