
  <b:resource src="matchInput.css"/>

  <div class="FileList-MatchInput FileList-MatchInput_{clean}">
    <input{input} type="text" event-keyup="keyup" event-change="change"/>
    <div class="FileList-MatchInput-CancelButton" event-click="clear"/>
  </div>