
  <b:resource src="addCulturePanelItem.css"/>

  <span{element} class="Culture-Flag Culture-Flag_{disabled}" title="{culture}" style="background-position: -{spriteX}px -{spriteY}px" event-click="addCulture">&nbsp;</span>