
  <b:resource src="dictionaryEditorHeaderItem.css"/>

  <div class="Culture-Wrapper Table-Column {isBase}">
    <div class="title">
      <span class="Culture-Wrapper-Flag" style="background-position: -{spriteX}px -{spriteY}px" />
      {title}
      <span class="deleteButton" event-click="deleteCulture">Удалить</span>
    </div>
  </div>
