
  <b:resource src="dictionaryEditorHeaderItem.css"/>

  <div{element} class="Culture-Wrapper Table-Column {even} {isBase}">
    <div class="title">
      <span class="Culture-Wrapper-Flag" style="background-position: -{spriteX}px -{spriteY}px"></span>
      {title}
      <a{deleteLink} href="#" class="deleteButton" event-click="deleteCulture">Удалить</a>
    </div>
  </div>
