
  .dictionaryListMatchInput
  {
    display: inline-block;
    margin-right: 1em;
    width: 20%;
    position: relative;
  }

  .dictionaryListMatchInput.Basis-Field INPUT
  {
    width: 100%;
    margin: 0;
    padding: 2px;
    border-color: #BAB6C0;
    padding-left: 20px;
    background: url(img/input_search_16x16.png) no-repeat left center;
    box-sizing: border-box;
  }