  
  .ResourceEditor .ace_scroller
  {
    right: 0 !important;
  }
  .ResourceEditor .ace_scrollbar
  {
    width: 0 !important;
  }

  .ResourceEditor
  {
    top: 0;
    padding-top: 0;
    position: relative;
  }

  .ResourceEditor .SourceEditor-Container
  {
    position: static;
    margin: 0;
  }

  .ResourceEditor .SourceEditor-Content
  {
    position: relative;
  }

  .ResourceEditor:first-child .ResourceEditor-Title
  {
    border-top: none;
  }

  .ResourceEditor .CreateFilePanel + .ResourceEditor-Content
  {
    display: none;
      -webkit-user-modify: read-only;
  }
  .ResourceEditor .CreateFilePanel
  {
    padding: 5px;
    text-align: center;
    background: #F7F7F7;
  }
