
<b:resource src="resourceEditor.css"/>

<div class="ResourceEditor {modified} {disabled}">
  <div class="ResourceEditor-Title">
    <!--{buttonPanel}-->
    <div class="ResourceEditor-Caption" title="{title}">{filename}</div>
  </div>
  <div class="ResourceEditor-Container {modified}">
    <!--{createFilePanel}-->
    <div{field|editor|content} class="ResourceEditor-Content" style="position: relative"/>
  </div>
</div>
