  .ResourceEditor
  {
    top: 0;
    padding-top: 0;
    position: relative;
  }

  .ResourceEditor-Title
  {
    /*font-weight: bold;
    font-size: 85%;*/
    padding: 5px;
    background: #F4F4F4;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
  }

  .ResourceEditor-Caption
  {
    padding-top: 0.2em;
    font-weight: bold;
    font-size: 85%;
    text-shadow: 0 1px 0 white;
    color: #555;
  }

  .ResourceEditor .Basis-ButtonPanel
  {
    float: right;
  }

  .ResourceEditor:first-child .ResourceEditor-Title
  {
    border-top: none;
  }

  .ResourceEditor-Container
  {
    box-shadow: 0 0 3px 2px rgba(128, 128, 128, .25) inset;
    border-bottom: 1px solid #CCC;
  }

  .ResourceEditor-Content
  {
    margin: 0;
    padding: 0;
    border: none;
    /*padding: 5px;
    border: 3px solid transparent;*/
    outline: none;
      -webkit-user-modify: read-write;

    font-family: Consolas, monospace;

  }

  .ResourceEditor .CreateFilePanel + .ResourceEditor-Content
  {
    display: none;
      -webkit-user-modify: read-only;
  }
  .ResourceEditor .CreateFilePanel
  {
    padding: 5px;
    text-align: center;
    background: #F7F7F7;
  }

  .ResourceEditor.modified .ResourceEditor-Content
  {
    border-color: rgba(200, 0, 0, .5);    
  }

  .ResourceEditor.disabled .ResourceEditor-Content
  {
    -webkit-user-modify: read-only;   
  }