.livememo
{
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 100%;
  border: 1px solid #DDD;
  padding: 3px 4px;
  position: relative;
  overflow: hidden;
  background: white;
}
.livememo_focused
{
  border-color: #C8C0aA;
  box-shadow: 0 0 4px gold;
}
.livememo_disabled
{
  background: #EEE;
  opacity: .75;
}

.livememo__memo,
.livememo__shadow
{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  
  resize: none;
  word-wrap: break-word;

  background: transparent;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 100%;
  outline: none;
}
.livememo__memo_focused
{
    -webkit-transition: height .12s;
    -moz-transition: height .12s;
    -o-transition: height .12s;
  transition: height .12s;
}
.livememo__memo_disabled
{
  color: black;
}

.livememo__shadow
{
  height: 1px;
  margin-bottom: -1px;
  visibility: hidden;
}
