
  <b:resource src="livememo.css"/>
  
  <div class="livememo">
    <textarea{memo} disabled="{disabled}" event-focus="focus" event-blur="blur" event-keyup="keyup" event-keydown="keydown" event-change="change"/>
    <textarea{shadowMemo} class="shadow"/>
  </div>
