
  .Localization-InspectButton.Basis-Button
  {
    position: absolute;
    top: -1px;
    right: -1px;
    font-size: 100%;
  }

  .Localization-InspectButton.Basis-Button .Basis-Button-Caption
  {
    font-weight: bold;
    font-size: 85%;
    padding: 1.1em 0;
    margin: 0 5ex;
  }


  .Localization-InspectButton.Basis-Button.active .Basis-Button-Back
  {
    background-color: #BCD7F2;
    border-color: #888;

      -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15) inset;
      -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15) inset;
  }