<b:style src="./layout.css"/>

<div class="LocalizationPage">
  <div class="Editor-Toolbar">
    <!--{inspectButton}-->
    <!--{matchInput}--><!--{cultureList}--><!--{saveButtonPanel}-->
  </div>
  <div class="Editor-Box">
    <div class="Editor-Box-Wrapper">
      <div{sidebar} class="Editor-Sidebar">
        <!--{dictionaryList}-->
      </div>
      <div class="Editor-Content">
        <!--{dictionaryEditor}-->
      </div>
    </div>
  </div>
</div>
