
  #column-background
  {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  #column-background .table-title
  {
    /*min-width: 200px;
    max-width: 300px;
    width: 30%;
    float: left;*/
    height: 100%;
  }

  #column-background .table-row
  {
    height: 100%;
  }

  #column-background .table-column
  {
    height: 100%;
  }
  #column-background .table-column
  {
    background: #F0F0F0;
  }
  #column-background .table-column:nth-child(2n + 1)
  {
    background: #F8F8F8;
  }