.composite-token
{
  margin-top: -1px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.composite-token__title
{
  padding: 8px;
  /*margin-top: -1px;
  border-top: 1px solid #DDD;*/
}
.composite-token__title:hover
{
  background: #EEE;
  background: rgba(225, 225, 225, 0.5);  
}
.composite-token_string .composite-token__title
{
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.composite-token-actions
{
  display: none;
  position: absolute;
  right: 80%;
  top: 10px;
}
.composite-token:hover .composite-token-actions
{
  display: inline-block;
}
.composite-token-action
{
  width: 12px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  opacity: 0.3;
  cursor: pointer;
}
.composite-token-action:hover
{
  opacity: 1;  
}
.composite-token-action.delete
{
  background: url(img/delete.png) no-repeat center center;
}

.composite-token_string .composite-token__title,
.composite-token_string .composite-token__actions
{
  display: none;
}

.composite-token__addkey
{
  padding: 8px 0 8px 20px;
  display: inline-block;
  color: #6f70d1;
  text-decoration: underline;
  cursor: pointer;
}
.composite-token_string .composite-token__addkey
{
  display: none;
}

/* plural switcher */
.composite-token-plural-switcher
{
  margin-left: 10px;
  padding: 2px 4px;
  
  background: #c3c3c3;
  border-radius: 2px;
  
  color: black;
  font-size: 80%;
  
  cursor: pointer;
  opacity: 0;
}
.composite-token:hover .composite-token-plural-switcher
{
  opacity: 0.5;
}

.composite-token-plural-switcher:hover
{
  opacity: 1;
}

.composite-token-plural-switcher.isPlural
{
  color: white;
  background: green;
  opacity: 1 !important;
}

.composite-token_string .composite-token-plural-switcher,
.composite-token_object .composite-token-plural-switcher
{
  display: none;
}