.token-addkey
{
  padding: 8px 0 8px 20px;
  display: inline-block;
  color: #6f70d1;
  text-decoration: underline;
  cursor: pointer;
}

.complex-token > .token-title
{
  /*margin-right: 66.66%;*/
  /*width: 30%;
  max-width: 300px;*/
  float: none;
}

.complex-token > .Table-Row
{
  display: none;
}