<b:style src="compositeToken.css"/>
<b:define name="type" type="enum" values="object string array"/>
<b:define name="isPlural" type="bool"/>

<div class="composite-token composite-token_{type}">
  <div class="composite-token__title">
    <span>{title}</span>
    <span class="composite-token-plural-switcher {isPlural}" event-click="togglePlural">plural</span>
  </div>
  <div class="composite-token-actions">
    <div class="composite-token-action delete" event-click="delete"/>
  </div>
  <div{childNodesElement}/>
  <div class="composite-token__addkey" event-click="addKey">add</div>
</div>