<b:style src="dictionaryEditorItemGroup.css"/>

<div class="DictionaryEditor-Item-Group">
  <div class="DictionaryEditor-Item-Group-Title">
    <span>{title}</span>
  </div>
  <div{childNodesElement}/>
</div>