
  <b:resource src="dictionaryEditorItem.css"/>
  <b:define name="type" type="enum" values="string object array key index"/>
  
  <div class="DictionaryEditor-Item DictionaryEditor-Item_{selected} DictionaryEditor-Item_{type}">
    <div{childNodesElement} class="Table-Row"/>
    <div class="DictionaryEditor-Item-Title">
      <span>{title}</span>
    </div>
  </div>