
  <b:resource src="dictionaryEditor.css"/>
  
  <div id="DictionaryEditor" class="columnCount_{columnCount}">
    <!--{header}-->
    <div class="DictionaryEditor-Content">
      <!--{columns}-->
      <!--{childNodesHere}-->
    </div>
  </div>
