
  .DictionaryEditor-Item
  {
    margin-top: -1px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    overflow: hidden;
    position: relative;
  }
  .DictionaryEditor-Item:hover
  {
    background: #EEE;
    background: rgba(225, 225, 225, 0.5);
  }
  .DictionaryEditor-Item_selected,
  .DictionaryEditor-Item_selected:hover
  {
    background: #FAF9D2;
    background: rgba(250, 249, 210, 0.65);
  }

  .DictionaryEditor-Item-Title
  {
    overflow: hidden;
    padding: 8px;
      -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .DictionaryEditor-Item_key .DictionaryEditor-Item-Title,
  .DictionaryEditor-Item_index .DictionaryEditor-Item-Title
  {
    padding-left: 20px;
  }
