
  #DictionaryEditor
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  #DictionaryEditor .DictionaryEditor-Content
  {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    overflow-y: scroll;
  }


  .Table-Title
  {
    min-width: 200px;
    max-width: 300px;
    width: 30%;
    float: left;
  }
  .Table-Row
  {
    /*width: 66.66%;*/
    /*float: right;*/
    overflow: hidden;
    min-height: 1em;
  }

  .Table-Column
  {
    width: 100%;
    float: left;
    max-width: 400px;
    min-height: 1em;
  }

  .columnCount_2 .Table-Column
  {
    width: 50%;
  }

  .columnCount_3 .Table-Column
  {
    width: 33.33%;
  }
  .columnCount_4 .Table-Column
  {
    width: 25%;
  }
  .columnCount_5 .Table-Column
  {
    width: 20%;
  }
  .columnCount_6 .Table-Column
  {
    width: 16.66%;
  }


  #DictionaryEditor-Header .Table-Column
  {
    background: #F0F0F0;
  }
  #DictionaryEditor-Header .Table-Column:nth-child(2n + 1)
  {
    background: #F8F8F8;
  }
