
  <b:resource src="editor.css"/>
  
  <div id="dictionary-editor" class="columnCount_{columnCount}">
    <!--{header}-->
    <div class="dictionary-editor-content">
      <!--{columns}-->
      <!--{childNodesHere}-->
    </div>
  </div>
