
  <b:resource src="headerItem.css"/>

  <div class="culture-wrapper table-column">
    <div class="title">
      <span class="culture-wrapper-flag" style="background-position: -{spriteX}px -{spriteY}px" />
      {title}
      <span class="deleteButton" event-click="deleteCulture">Удалить</span>
    </div>
  </div>
