
  <b:resource src="header.css"/>
  
  <div{element} id="DictionaryEditor-Header">
    <div id="DictionaryEditor-Header-Wrapper">
	    <div{childNodesElement} class="Cultures Table-Row"/>
	    <div class="Table-Row AddCulture-Row">
	      <div class="Table-Column"><!--{addCulturePanel}--></div>
	    </div>
	  </div>
  </div>
