
  #dictionary-editor-header 
  {
    position: relative;
    overflow: hidden;
    height: 2.5em;
    z-index: 200;
    
    background: #DDD;
    background: -webkit-linear-gradient(top, #E8E8E8, #DDD);
    border-bottom: 1px solid #CCC;
  }
  #dictionary-editor-header-wrapper
  {
    height: 100%;
    visibility: hidden;
    overflow-y: scroll;
  }
  #dictionary-editor-header .table-title
  {
    /*min-width: 100%;*/
    height: 100%;
  }
  #dictionary-editor-header .table-row
  {
    visibility: visible;
  }

  #dictionary-editor-header .cultures
  {
    position: relative;
    z-index: 1;
    /*float: right;*/
  }
  #dictionary-editor-header .culture-wrapper 
  {
    text-align: center;
    padding: 0.65em 0; 
  } 

  /*.AddCulture-Row
  {
    position: absolute;
    right: 0;
  }

  .AddCulture-Row .Table-Column
  {
    background: none !important;
    float: right;
    text-align: center;
    position: relative;
    z-index: 2;
  }*/
