
  <b:resource src="header.css"/>
  
  <div{element} id="DictionaryEditor-Header">
    <div id="DictionaryEditor-Header-Wrapper">
      <div class="Table-Title"/>
	    <div{childNodesElement} class="Cultures Table-Row"/>
	  </div>
  </div>
