<b:style src="./header.css"/>

<div id="dictionary-editor-header">
  <div id="dictionary-editor-header-wrapper">
    <div class="table-title"/>
    <div{childNodesElement} class="cultures table-row"/>
  </div>
</div>
