<b:resource src="token.css"/>
<b:resource src="indexToken.css"/>

<div class="token token-index {selected}">
  <div class="token-container">
    <div{childNodesElement} class="Table-Row"/>
    <div class="token-title">
      <span>{title}</span>
      <span class="token-markup-switcher {isMarkup}" event-click="toggleMarkup">markup</span>
    </div>
    <div class="token-actions">
      <div class="token-action delete" event-click="delete"/>
    </div>
  </div>
</div>