<b:resource src="token.css"/>
<b:resource src="keyToken.css"/>
<b:define name="editMode" type="bool"/>
<b:define name="type" type="enum" values="key index"/>

<div class="token token-key {selected} {editMode}">
  <div class="token-container">
    <div{childNodesElement} class="Table-Row"/>
    <div class="token-title" event-dblclick="edit">
      <span >{title}</span>
      <span class="token-markup-switcher {isMarkup}" event-click="toggleMarkup">markup</span>
    </div>
    <div class="token-actions">
      <div class="token-action edit" event-click="edit"/>
      <div class="token-action delete" event-click="delete"/>
    </div>
  </div>
  <div class="token-editor">
    <input{editor} type="text" event-keyup="keyup" event-blur="cancel"/>
    <!--<div class="token-editor-actions">
      <div class="token-editor-action submit" event-mousedown="submit"/>
      <div class="token-editor-action cancel" event-click="cancel"/>
    </div>-->
  </div>
</div>