<b:resource src="newtoken.css"/>
<b:define name="editMode" type="bool"/>
<b:define name="isMarkup" type="bool"/>
<b:define name="isPlural" type="bool"/>
<b:define name="typeSwitchMode" type="bool"/>
<b:define name="type" type="enum" values="object array string key index"/>

<div class="token token_{type} {selected} {editMode} {typeSwitchMode}">
  <div class="token-editor">
    <input{editor} type="text" event-keyup="keyup" event-blur="cancel"/>
    <!--<div class="token-editor-actions">
      <div class="token-editor-action submit" event-mousedown="submit"/>
      <div class="token-editor-action cancel" event-click="cancel"/>
    </div>-->
  </div>  
  
  <div{childNodesElement} class="Table-Row"/>
  <div class="token-title" event-dblclick="edit">
    <span >{title}</span>
    <span class="token-markup-switcher {isMarkup}" event-click="toggleMarkup">markup</span>
    <span class="token-plural-switcher {isPlural}" event-click="togglePlural">plural</span>
  </div>
  <div class="token-actions">
    <div{switcher} class="token-action type" event-click="switchType"></div>
    <div class="token-action edit" event-click="edit"/>
    <div class="token-action delete" event-click="delete"/>
  </div>
</div>