.token
{
  overflow: hidden;
  position: relative;
}

.token_string,
.token_object,
.token_array
{
  margin-top: -1px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.token:hover
{
  background: #EEE;
  background: rgba(225, 225, 225, 0.5);
}
.token.selected,
.token.selected:hover
{
  background: #FAF9D2;
  background: rgba(250, 249, 210, 0.65);
}

.token-title
{
  overflow: hidden;
  padding: 8px;
    -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.token_index .token-title,
.token_key .token-title
{
  padding-left: 20px;
}

.token-actions
{
  display: none;
  position: absolute;
  right: 80%;
  top: 7px;
}
.token:hover > .token-actions
{
  display: inline-block;
}
.token-action
{
  width: 12px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  opacity: 0.3;
  cursor: pointer;
  background: url(img/edit.png) no-repeat center center;
}
.token-action:hover
{
  opacity: 1;  
}
.token-action.edit
{
  background-image: url(img/edit.png);
}
.token-action.delete
{
  background-image: url(img/delete.png);
}
.token-action.type
{
  background-image: url(img/string.png);
}
.token_object .token-action.type
{
  background-image: url(img/object.png);
}
.token_array .token-action.type
{
  background-image: url(img/array.png); 
}

.token_index .token-action.edit,
.token_index .token-action.type,
.token_key .token-action.type
{
  display: none;
}

.token.typeSwitchMode > .token-actions
{
  display: inline-block;
}
.token.typeSwitchMode > .token-actions .token-action.type
{
  opacity: 1;
}


/* markup switcher */
.token-markup-switcher
{
  margin-left: 10px;
  padding: 2px 4px;
  
  background: #c3c3c3;
  border-radius: 2px;
  
  color: black;
  font-size: 80%;
  
  cursor: pointer;
  opacity: 0;
}
.token:hover > .token-title .token-markup-switcher
{
  opacity: 0.5;
}

.token-markup-switcher:hover
{
  opacity: 1;
}

.token-markup-switcher.isMarkup
{
  color: white;
  background: #AC9100;
  opacity: 1 !important;
}

.token_object > .token-title .token-markup-switcher,
.token_array > .token-title .token-markup-switcher
{
  display: none;
}

/* plural switcher */
.token-plural-switcher
{
  margin-left: 10px;
  padding: 2px 4px;
  
  background: #c3c3c3;
  border-radius: 2px;
  
  color: black;
  font-size: 80%;
  
  cursor: pointer;
  opacity: 0;

  display: none;
}
.token:hover .token-plural-switcher
{
  opacity: 0.5;
}

.token-plural-switcher:hover
{
  opacity: 1;
}

.token-plural-switcher.isPlural
{
  color: white;
  background: green;
  opacity: 1 !important;
}

.token_array > .token-title .token-plural-switcher
{
  display: inline;
}

/* token editor */
.token-editor
{
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
}
.token-editor input
{
  vertical-align: middle;
  padding: 4px;
  margin-left: 2px;
  font-family: Tahoma;
  width: 200px;
}
.token_index .token-editor input,
.token_key .token-editor input
{
  margin-left: 14px;
}
.token-editor-actions
{
  display: inline-block;
  vertical-align: middle;
}
.token-editor-action
{
  width: 12px;
  height: 15px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.token-editor-action.submit
{
  background: url(img/ok.png) no-repeat center center;
}
.token-editor-action.cancel
{
  background: url(img/delete.png) no-repeat center center;
}
.token.editMode .token-editor
{
  display: block;
}

.token.editMode .token-editor ~ * 
{
  visibility: hidden;
}

