<b:style src="tokenTypeSwitcher.css"/>

<div class="token-type-switcher">
  <div class="token-type-switcher__item string" data-type="string" event-click="switch">string</div>
  <div class="token-type-switcher__item object" data-type="object" event-click="switch">object</div>
  <div class="token-type-switcher__item array" data-type="array" event-click="switch">array</div>
</div>