.DictionaryEditor-Item-Group-Title
{
  padding: 8px;
  border-top: 1px solid #DDD;
  position: relative;
  z-index: 1;
}

.DictionaryEditor-Item-Group.string .DictionaryEditor-Item-Group-Title
{
  display: none;
}

.DictionaryEditor-Item-Group.array .DictionaryEditor-Item,
.DictionaryEditor-Item-Group.object .DictionaryEditor-Item
{
  border: none;
}

.DictionaryEditor-Item-Group-AddKey
{
  padding: 8px 0 8px 20px;
  display: inline-block;
  color: #6f70d1;
  text-decoration: underline;
  cursor: pointer;
}

.DictionaryEditor-Item-Group.string .DictionaryEditor-Item-Group-AddKey
{
  display: none;
}