
  <b:resource src="token.css"/>
  
  <div class="DictionaryEditor-Item DictionaryEditor-Item_{selected}">
    <div{childNodesElement} class="Table-Row"/>
    <div class="DictionaryEditor-Item-Title">
      <span>{title}</span>
    </div>
  </div>