.token-addkey
{
  padding: 8px 0 8px 20px;
  display: inline-block;
  color: #6f70d1;
  text-decoration: underline;
  cursor: pointer;
}

.token.isPlural .token-addkey
{
  display: none;
}

.complex-token > .token-title
{
  float: none;
}

.complex-token > .Table-Row
{
  display: none;
}