<b:resource src="token.css"/>
<b:define name="editMode" type="bool"/>
<b:define name="isMarkup" type="bool"/>
<b:define name="isPlural" type="bool"/>
<b:define name="typeSwitchMode" type="bool"/>
<b:define name="type" type="enum" values="object array string key index"/>

<div class="token token_{type} {selected} {editMode} {typeSwitchMode} {isPlural}">
  <div class="token-editor">
    <input{editor} type="text" event-keyup="keyup" event-blur="cancel"/>
    <!--<div class="token-editor-actions">
      <div class="token-editor-action submit" event-mousedown="submit"/>
      <div class="token-editor-action cancel" event-click="cancel"/>
    </div>-->
  </div>  
  
  
  <div class="token-title table-title" event-dblclick="edit">
    <div class="token-caption">
      <span >{title}</span>
      
    </div>

    <div class="token-switchers">
      <span class="token-switcher token-markup-switcher {isMarkup}" event-click="toggleMarkup" title="markup">m</span>
      <span class="token-switcher token-plural-switcher {isPlural}" event-click="togglePlural" title="plural">p</span>
    </div>

    <div class="token-actions">
      <div{switcher} class="token-action type" event-click="switchType"></div>
      <div class="token-action edit" event-click="edit"/>
      <div class="token-action delete" event-click="delete"/>
    </div>    

  </div>
  <div{childNodesElement} class="table-row"/>
</div>