<b:style src="./widget.css"/>

<div id="TemplateDeclarationViewer" class="TemplateDeclarationViewer_{expanded}">
  <div class="TemplateDeclarationViewer-Title" event-click="toggle"><span>Declaration</span></div>
  <div{childNodesElement} class="TemplateDeclarationViewer-Content"/>
</div>
