<b:style src="./tab.css"/>

<b:include src="../../mainmenu/template/tab.tmpl">
  <b:after ref="title">
    <span class="app-tab-warning-count app-tab-warning-count_{count}" count="{count}">{count}</span>
  </b:after>
</b:include>
