<b:style src="./view.css"/>

<div class="app-warnings">
  <div class="app-warnings__empty app-warnings__empty_{isOk}">
    Congrats, no warnings found!
  </div>
  <div{childNodesElement} class="app-warnings__list"/>
  <!--{stat}-->
</div>
