.app-warnings
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  overflow-y: scroll;
}
.app-warnings_empty
{
  display: none;
  font-size: 200%;
  color: #8A8;
  padding: 20px;
}
.app-warnings_empty-empty
{
  display: block;
}
