.app-warning
{
  margin: 4px 22px .5em 4ex;
  line-height: 1.4;
  /*counter-increment: pos;*/
}
/*.app-warning__message:before
{
  display: inline-block;
  content: counter(pos) '.';
  color: #CCC;
  width: 3ex;
  text-align: right;
  vertical-align: baseline;
  margin-left: -4ex;
  margin-right: 1ex;
}*/
.app-warning__message
{
  color: #444;
  white-space: pre-wrap;
}
.app-warning__message-start
{
  color: black;
}
.app-warning__message-details
{
  color: #666;
}
.app-warning__message_fatal .app-warning__message-start,
.app-warning__message_fatal .app-warning__message-details
{
  color: #D00;
}
.app-warning__message_fatal:before
{
  content: 'FATAL';
  background: #D54;
  color: white;
  font-size: 80%;
  padding: 2px 6px;
  margin-right: 1ex;
  border-radius: 3px;
}
.app-warning__loc
{
  display: none;
  color: #CCC;
}
.app-warning__loc_loc
{
  display: inline-block;
  white-space: nowrap;
  padding-left: 1ex;
}

.app-warning__loc-button
{
  text-decoration: underline;
  color: #A00;
  cursor: pointer;
}
.app-warning__loc-button:hover
{
  color: #D00;
}
.app-warning__theme
{
  display: none;
}
.app-warning__theme.theme
{
  display: inline-block;
  background: #EEE;
  color: #777;
  font-size: 80%;
  padding: 2px 6px;
  margin-right: 1ex;
  border-radius: 3px;
}
