<b:resource src="warning.css" />
<b:define name="loc" type="bool"/>

<div class="app-warning">
  <div class="app-warning__message app-warning__message_{fatal}">
    <span class="app-warning__message-start">{messageStart}</span>
    <span class="app-warning__message-details">{messageDetails}</span>
    <span class="app-warning__loc app-warning__loc_{loc}">
      [<span class="app-warning__loc-button" event-click="openLoc" title="{loc}">{locShort}</span>]</span>
  </div>
</div>
