
  <b:resource src="cultureListItem.css"/>

  <b:include src="basis.ui.field.ComboboxItem" class="CultureListItem">
    <b:replace ref="title">
      <span class="CultureListItem-Flag" style="background-position: -{spriteX}px -{spriteY}px"></span>
	    {title}
	  </b:replace>
  </b:include>
