
  <b:resource src="pages.css" />

  <div class="App-MainMenu">
    <div class="App-MainMenu-Wrapper">
      <!--{tabs}-->
      <div{childNodesElement} class="App-MainMenu-Pages" />
    </div>
  </div>
