
  <b:resource src="tab.css" />

  <div class="App-MainMenu-Tab {selected} {disabled}" event-click="select">
    <div class="App-MainMenu-TabContent App-MainMenu-TabContent__{name}">
      <div class="App-MainMenu-TabCaption">
        {title}
      </div>
    </div>
  </div>


