
  /*.App-MainMenu-Tabs
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    border: 6px solid white;
    background: white;
    max-height: 75%;
  }

  .App-MainMenu.pageSelected .App-MainMenu-Tabs
  {
    display: none;
  }*/