  
  #Editor
  {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 100%;
  }
  #Editor.focus
  {
    border-color: #ACF;
  }
  #Editor .Basis-VerticalPanel
  {
    overflow: hidden;
  }

  