.file-graph-panel
{
  float: right;
  padding: 5px 5px;
}
.file-graph-panel .Basis-Button
{
  float: right;
}
.file-graph-panel .error
{
  display: none;
  color: red;
  margin-top: 3px;
  padding: 3px;
}
.file-graph-panel__state-error .error
{
  display: inline;
}