.panel
{
  position: relative;
  float: right;
  padding: 5px 5px;
  z-index: 2;
}
.panel .Basis-Button
{
  float: right;
}
.panel .error
{
  display: none;
  color: red;
  margin-top: 3px;
  padding: 3px;
}
.panel_state-error .error
{
  display: inline;
}
