.App-InspectPanel
{
  position: relative;
  float: right;
  height: 2.5em;
  z-index: 2;
}

.App-InspectPanel-Button
{
  display: inline-block;
  height: 100%;
  padding: 18px 16px 0 16px;
  box-sizing: border-box;
  
  background: url(img/inspect.png) no-repeat center 3px;
  border-left: 1px solid #CCC;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5) inset;
 
  font-size: 80%;
  font-weight: bold;
  color: #666;
  text-shadow: 0 1px 0 white;
  cursor: pointer;
}
.App-InspectPanel-Button:hover
{
  background-color: #DDD;
}

.App-InspectPanel-InspectMode_template .App-InspectPanel-Button.template,
.App-InspectPanel-InspectMode_l10n .App-InspectPanel-Button.l10n
{
  box-shadow: 0 0 3px 1px rgba(0, 0, 0,.1) inset;
  background-color: #F5E8B3;
}