<b:style src="inspectPanel.css"/>

<div class="App-InspectPanel App-InspectPanel-InspectMode_{inspectMode}">
  <div class="App-InspectPanel-Button template" event-click="templateInspect">tmpl</div>
  <div class="App-InspectPanel-Button l10n" event-click="l10nInspect">l10n</div>  
</div>