<b:isolate/>
<b:style src="./inspectPanel.css"/>
<b:define name="inspectMode" type="enum" values="l10n template"/>

<div class="panel panel_mode-{inspectMode}">
  <div class="button button_template" event-click="templateInspect">tmpl</div>
  <div class="button button_l10n" event-click="l10nInspect">l10n</div>  
</div>
