<b:style src="./pages.css" />
<b:define name="disabled" type="bool"/>

<div class="App-MainMenu {disabled}">
  <div class="App-MainMenu-Wrapper">
    <!--{inspectPanel}-->
    <!--{appProfilePanel}-->
    <!--{tabs}-->
    [<!--{clients}-->]
    <div{childNodesElement} class="App-MainMenu-Pages">
      <div class="blocker"/>
      <!--{childNodesHere}-->
    </div>
    
  </div>
</div>
