
  .App-MainMenu
  {
    height: 100%;
  }

  .App-MainMenu-Pages
  {
    position: absolute;
    top: 2.8em;
    bottom: 0;
    left: 0;
    right: 0;
    /*box-shadow: 0 0 10px 0px rgba(0,0,0,.15);*/
    border-top: 1px solid #B6BAC0;
  }

