<b:style src="./tab.css"/>

<div class="App-MainMenu-Tab App-MainMenu-Tab_{selected} App-MainMenu-Tab_{disabled}" event-click="select">
  <div class="App-MainMenu-TabContent App-MainMenu-TabContent__{name}">
    {title}
  </div>
</div>
