.tab
{
  float: left;
  height: 100%;
  cursor: pointer;
}
.tab:hover
{
  background-color: #DDD;
}
.tab_selected
{
  cursor: default;
  background: #7A7975 !important;
  color: white;
}
.tab_disabled
{
  cursor: default;
  background: none !important;
  color: #AAA !important;
  text-shadow: 0 1px 0 white;
}

.content
{
  padding: 0.6em 1em;
  display: block;
}
