.App-MainMenu-Tabs
{
  height: 2.5em;
  position: relative;
  z-index: 1;

  background: #F0F0F0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .35);

    -webkit-user-select: none;
  user-select: none;
}
