
  #Resources
  {
    float: right;
    /*margin-left: 5px;*/
    width: 40%;
    min-width: 200px;
    max-width: 50%;
    overflow: visible !important;
    border-left: 1px solid #B6BAC0;
  }

  #Resources .Basis-Resizer
  {
    position: absolute;
    top: 0;
    left: -3px;
    bottom: 0;
    width: 5px;
  }

  #Resources .ResourceList
  {
    background: #F4F4F4;
    border-bottom: 1px solid #CCC;
  }

