<b:style src="./fileListGroup.css"/>

<div class="FileListGroup">
  <div class="FileListGroup-Title" title="{title}">{title}</div>
  <div{childNodesElement} class="FileListGroup-Content"/>
</div>
