
  .FileListItem
  {
    padding: 0.2em 1em;
    cursor: pointer;
  }

  .FileListItem:hover
  {
    background-color: #AAA;
    color: white;
  }

  .FileListItem_selected
  {
    background-color: #7A7975 !important;
    color: white;
  }
  
  .FileListItem_modified
  {
    background-image: url(img/modified.png);
    background-position: right center;
    background-repeat: no-repeat;
  }

  .FileListItem_modified.FileListItem_selected
  {
    background-image: url(img/modified_gray.png);
  }

  .FileListItem-Path
  {
    display: none;
  }