<b:style src="./matchInput.css"/>

<div class="FileList-MatchInput FileList-MatchInput_{empty}">
  <input{input|focus} type="text" event-keyup="keyup" event-change="change"/>
  <div class="FileList-MatchInput-CancelButton" event-click="clear"/>
</div>
