<b:style src="editor.css"/>
<b:define name="modified" type="bool"/>  
<b:define name="selected" type="bool"/>  
<b:define name="disabled" type="bool"/>  

<div class="SourceEditor {modified} {selected} {disabled}">
  <div class="SourceEditor-Title">
    <!--{buttonPanel}-->
    <div class="SourceEditor-Caption" title="{title}"><span>{filename}</span></div>
  </div>
  <div class="SourceEditor-Container">
    <!--{createFilePanel}-->
    <div{field|editor|content} class="SourceEditor-Content" event-keyup="fieldKeydown" event-keydown="fieldKeydown"/>
  </div>
</div>