
  <b:resource src="editor.css"/>

  <div class="Basis-Field {selected} {disabled}">
    <div class="fileInfo">
      {filename}
    </div>
    <div{content} class="Basis-Field-Container">
      <div{editor}/>
    </div>
    <!--{createFilePanel}-->
  </div>
