
  #columnBackgroundContainer
  {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  #columnBackgroundContainer .Table-Column
  {
    height: 100%;
  }
  #columnBackgroundContainer .Table-Column
  {
    background: #F0F0F0;
  }
  #columnBackgroundContainer .Table-Column:nth-child(2n + 1)
  {
    background: #F8F8F8;
  }