<b:isolate/>
<b:style>
  .list
  {
    position: relative;
    z-index: 1000;
  }
</b:style>
<div class="list">
  {curChannel}
  <label>
    <input
      type="checkbox"
      checked="{auto}"
      event-click="updateAuto"
      event-change="updateAuto"/> auto devpanel
  </label>
</div>
