
  .AddCulturePanel
  {
    padding: 0.65em 0;
  }
  /*.AddCulturePanel .Culture-Flag
  {
    display: inline-block;
    width: 25px;
    height: 17px;
    background: url(../img/flags/gb.png) no-repeat center center;
    cursor: pointer;
  }*/
