
  <b:resource src="dictionaryEditorItem.css"/>
  
  <div class="DictionaryEditor-Item {selected}">
    <div{childNodesElement} class="Table-Row"/>
    <div{content} class="DictionaryEditor-Item-Title">
      <span>{title}</span>
    </div>
  </div>